@import url(https://fonts.googleapis.com/css?family=Nunito);
:root {
  --color-primary-light: #c69963;
  --color-primary-dark: #b28451;
  --color-gray-dark-1: #777;
  --color-gray-light-1: #c69963;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .7) ;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Snas", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-gray-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
